* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* settings layout */

.container {
  width: 80%;
  margin:20px auto;
}


header {
  height: 100px;
}

main {
  padding-bottom: 20px;
}

.mb-20{
  margin-bottom: 20px;
}


.clearflix::after {
  content:"";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.sideone,.sidetwo {
  width: 25%;
}
.principal{
  width: 46%;
  margin:0 2%;
}

footer {
  height: 50px;
  margin-top: 10px;
}


/* /settings llayout */



/* debug */


/* .debug main {
  height:550px;
  background-color: blue;
} */

/* .debug header {
  background-color:purple;
} */

/* .debug .jamboo {
  height: 400px;
  background-color:blue;
} */


.debug .title {
    height: 100px;
  }

.debug .sideone,.debug .principal,.debug .sidetwo{
  height: 400px;
  background-color: yellowgreen;
}

.debug footer {
  background-color: red;
}

/* /debug */

/* ****content**** */

/* header */
.logo {
  height: 80px;
  padding-right: 20px;
  border-right:1px solid gray ;
}

/* /header */

/* nav */

.bar {
  height: 50px;
  line-height: 50px;
}

ul li {
  display: inline-block;
  vertical-align:middle;
  margin:0 10px;
  color: gray;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  list-style: none;
  text-transform: uppercase;
  text-decoration: underline;
}


/* /nav */

/* jamboo */

.banner {
  width: 100%;
  height: 500px;
  object-fit:cover;
  border:1px solid white ;
  border-radius: 20px;
}

.jamboo {
  position:relative;
}
.jamboo .writers {
  overflow-wrap: break-word;
  position: absolute;
  top:60%;
}
.writers .big {
  font-size: 40px;
}
.writers .small {
  font-size: 20px;
}

.wh {
  color:gray;
  font-weight: 400;
}


/* /jamboo */

/* title */
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
}

.title :nth-child(2) {
  font-size:20px;
  font-family: cursive;
  color: gray;
}

/* /title */
