* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* settings layout */

.container {
  width: 80%;
  margin:20px auto;
}


header {
  height: 100px;
}

main {
  padding-bottom: 20px;
}

.mb-20{
  margin-bottom: 20px;
}


.clearflix::after {
  content:"";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.sideone,.sidetwo {
  width: 25%;
}
.principal{
  width: 46%;
  margin:0 2%;
}

footer {
  height: 50px;
  margin-top: 10px;
}


/* /settings llayout */



/* debug */


.debug main {
  height:550px;
  background-color: blue;
}

/* .debug header {
  background-color:purple;
} */

/* .debug .jamboo {
  height: 400px;
  background-color:blue;
} */


.debug .title {
    background-color: yellowgreen;
    height: 100px;
  }

.debug .sideone,.debug .principal,.debug .sidetwo{
  height: 400px;
  background-color: yellowgreen;
}

.debug footer {
  background-color: red;
}

/* /debug */

/* ****content**** */

/* header */
.logo {
  height: 80px;
  padding-right: 20px;
  border-right:1px solid gray ;
}

/* /header */

/* nav */

.bar {
  height: 50px;
  line-height: 50px;
}

ul li {
  display: inline-block;
  vertical-align:middle;
  margin:0 10px;
  color: gray;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  list-style: none;
  text-transform: uppercase;
  text-decoration: underline;
  
}


/* /nav */

/* jamboo */
  {
  height: 400px;
}



/* /jamboo */


